<template name="login">
  <div class="container login">
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <h2>Please log in to continue:</h2>
        <form role="form">
          <div class="form-group">
            <input class="email form-control input-lg" type="text" placeholder="Email" autofocus="autofocus" required="required" />
          </div>
          <div class="form-group">
            <input class="password form-control input-lg" type="password" placeholder="Password" required="required" />
          </div>
          <div class="error-container text-danger pull-left"></div>
          <button type="submit" class="btn btn-lg btn-primary pull-right">Login</button>
        </form>
      </div>
    </div>
  </div>
</template>
