<template name="howitworks">
  <div class="container marketing">
    <div class="row">
      <div class="col-xs-4">
        <img class="img-circle img-responsive center-block" src="img/examples/ocean.jpg">
        <h3>Fill up Our Simple Form</h3>
        <p>Tell us about the type of dresses, color options and price range you would like our fashion experts.</p>
      </div>
      <div class="col-xs-4">
        <img class="img-circle img-responsive center-block" src="img/examples/ocean.jpg">
        <h3>Stylist Select Dresses</h3>
        <p>Our stylists will then go over thousands of dresses over thousands of websites and select the </p>
      </div>
      <div class="col-xs-4">
        <img class="img-circle img-responsive center-block" src="img/examples/ocean.jpg">
        <h3>Email you the selections</h3>
        <p>Our stylists will then email you the best dresses that fits your figure.</p>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="container marketing">
    <div class="row">
      <div class="col-xs-4 image-wrapper">
        <img class="img-circle" src="http://brandmc2.files.wordpress.com/2012/05/happy-customer.jpg">
      </div>
      <div class="col-xs-4">
        <h2>What People Are Saying</h2>
        <div class="testimonial">
          <h4> "I have been getting lot of compliments </h4>
          <p>
            After having some doubts I finally decided to give it a try. After looking at their selections I was blown away. Now i get a lot of compliments from my friends all the time"....
            <span class="muted">Lisa. Dallas(TX)</span>
          </p>
        </div>
        <div class="testimonial">
          <h4> "I have been getting lot of compliments <span class="muted"></span></h4>
          <p>
            After having some doubts I finally decided to give it a try. After looking at their selections I was blown away. Now i get a lot of compliments from my friends all the time"....
            <span class="muted">Lisa. Dallas(TX)</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <h2 class="text-center">Meet our Head Fashion Stylist</h2>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="container marketing">
    <div class="row">
      <div class="col-xs-4 image-wrapper">
        <img src="img/examples/headstylist.jpg">
      </div>
      <div class="col-xs-4">
        <div>
          <p>
            Diane has over 20 years of experience as a luxury fashion analyst, senior retail buyer and product designer for high end retailers such as Saks Fifth Avenue and Lord & Taylor. She is a corporate fashion consultant and a luxury branding manager.
            <strong>Diane welcomes the opportunity to assist you in choosing the perfect fashion pieces to suit your lifestyle and your budget.</strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <h2 class="text-center">Our Recommendations</h2>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="container marketing">
    <div class="row">
      <div class="col-xs-4">
        <div class="">
          <img src="img/examples/rec1.jpg" alt="Generic placeholder thumbnail" class="img-responsive center-block">
        </div>
        <div class="caption">
          <h4 class="text-center">Thumbnail label</h4>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="">
          <img src="img/examples/rec2.jpg" alt="Generic placeholder thumbnail" class="img-responsive center-block">
        </div>
        <div class="caption">
          <h4 class="text-center">Thumbnail label</h4>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="">
          <img src="img/examples/rec3.jpg" alt="Generic placeholder thumbnail" class="img-responsive center-block">
        </div>
        <div class="caption">
          <h4 class="text-center">Thumbnail label</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-4">
        <div class="">
          <img src="img/examples/rec4.jpg" alt="Generic placeholder thumbnail" class="img-responsive center-block">
        </div>
        <div class="caption">
          <h4 class="text-center">Thumbnail label</h4>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="">
          <img src="img/examples/rec5.jpg" alt="Generic placeholder thumbnail" class="img-responsive center-block">
        </div>
        <div class="caption">
          <h4 class="text-center">Thumbnail label</h4>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="">
          <img src="img/examples/rec6.jpg" alt="Generic placeholder thumbnail" class="img-responsive center-block">
        </div>
        <div class="caption">
          <h4 class="text-center">Thumbnail label</h4>
        </div>
      </div>
    </div>
  </div>
</template>
