<template name="carousel">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption text-left">
              <h1 class="text-left">Online Personal Shopper</h1>
              <p class="lead text-left">Get the most stylist dresses and accessories at your price from our experienced Personal Shopper. We proudly serve everyone from plus size to model figure.</p>
              <a class="btn btn-large btn-primary" href="#">Get Started</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-02.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="text-left">Online Personal Shopper</h1>
              <p class="lead text-left">Get the most stylist dresses and accessories at your price from our experienced Personal Shopper. We proudly serve everyone from plus size to model figure.</p>
              <a class="btn btn-large btn-primary" href="#">Get Started</a>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="http://getbootstrap.com/2.3.2/assets/img/examples/slide-03.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="text-left">Online Personal Shopper</h1>
              <p class="lead text-left">Get the most stylist dresses and accessories at your price from our experienced Personal Shopper. We proudly serve everyone from plus size to model figure.</p>
              <a class="btn btn-large btn-primary" href="#">Get Started</a>
            </div>
          </div>
        </div>
      </div>
      <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
    </div><!-- /.carousel -->
</template>