<template name="carousel">
    <div id="myCarousel" class="carousel slide">
      <div class="carousel-inner">
        <div class="item active">
          <img src="img/examples/cover2.jpg" style="width:100%" alt="">
          <div class="container">
            <div class="carousel-caption text-center">
              <h1 class="text-left">Employers</h1>
              <br />
              <p class="lead text-left">Post Jobs and Screen Candidates in One shot. Pick Quality Candidates in No time.</p>
              <br />
              <br />

             <!-- <a class="btn btn-large btn-primary" href="#">Get Started</a>-->
           
              <h1 class="text-left">Job Seekers</h1>
              <br />
              <p class="lead text-left">Apply for the Job and take the Employer's Screening Test and Prove your worth.</p>

             <!-- <a class="btn btn-large btn-primary" href="#">Get Started</a>-->
            </div>
          </div>
        </div>
        <!--<div class="item">
          <img src="img/examples/slide-04.jpg" style="height:100%" alt="">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="text-left">Hire Smart Engineers</h1>
              <p class="lead text-left">Our community of Renowned Software Engineers who worked for companies like Yahoo, Samsung and Bitly will help you filter out good candidates who have a greater chances of being hired and making a difference. </p>-->

             <!-- <a class="btn btn-large btn-primary" href="#">Get Started</a>-->
            <!--</div>
          </div>
        </div>-->
      </div>
      <!--<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>-->
    </div><!-- /.carousel -->
</template>