<template name="userForm">
  <hr class="featurette-divider">
  <h2 class="text-center">Leave us a message.</h2>
  <div>&nbsp;</div>
  <div>&nbsp;</div>
  <div class="container">
    <div class="col-sm-offset-4 col-sm-4">
      <form method="post">
        <!--<div class="form-group">
           <label for="validate-text">Company Name</label>
          <div class="input-group">
            <input type="text" class="form-control" name="name" id="name" placeholder="Name" value="{{#if isDebug}}Name{{/if}}" required>
            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
          </div>
        </div> -->
        <div class="form-group">
          <label for="validate-email">Email*</label>
          <div class="input-group" data-validate="email">
            <input type="text" class="form-control" name="email" id="email" placeholder="Validate Email" value="{{#if isDebug}}test@test.com{{/if}}" required>
            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
          </div>
        </div>
        
        <!-- <div class="form-group">
          <label for="validate-phone">Phone</label>
          <div class="input-group" data-validate="phone">
            <input type="text" class="form-control" name="phone" id="phone" placeholder="(814) 555-1234" value="{{#if isDebug}}(123) 456-7890{{/if}}" required>
            <span class="input-group-addon danger"><span class="glyphicon glyphicon-remove"></span></span>
          </div>
        </div> -->
        <div class="form-group">
          <label for="validate-length">Message(Optional)</label>
          <div class="input-group" data-validate="length" data-length="5">
            <textarea type="text" class="form-control" name="comments" id="comments" placeholder="Validate Length"></textarea>
            <span class="input-group-addon info"><span class="glyphicon glyphicon-asterisk"></span></span>
          </div>
        </div>
        <button id="submitForm" class="btn btn-primary col-xs-12 ">Submit</button>
      </form>
    </div>
  </div>
</template>
